.color-nav {
  background: linear-gradient(pink, white);
}

.Navbar {
  position: fixed;
  width: 100%;
}

.WhiteDiv {
  height: 700px;
  align-items: center;
  vertical-align: auto;
  margin: auto;
}
